nav.side-navbar.shrinked {
     ul {
            li  {
                a {
                    i {
                        margin: 0 auto 5px;
                    }
                }
            }
        }
    }
.content-inner {
    > *:not(header) {
        padding: 2rem;
    }
}
.login-page {
    .form-holder {
        .info {
            padding-top: 1rem !important;
            padding-bottom: 1rem !important;
        }
    }
}
